<!DOCTYPE html>
<html lang="en">
<head>
	<meta charser="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shopping Mall</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="header">
	<div class="container">
		<div class="navbar">
			<div class="logo">
				<img src="{{url_for('static', filename='images/logo.png')}}" width="125px">
			</div>
			<nav>
				<ul id="MenuItems">
					<li><a href="/">Home</a></li>
					<li><a href="https://webxr.run/8wRA9lYVmQxA5">Dress store</a></li>
					<li><a href="https://webxr.run/vW8G3ZGbzJwby">Furniture store</a></li>
	    			<li><a href="/product">Product</a></li>
	    			<li><a href="https://webxr.run/3Wm7V6vQZ0omD">Try</a></li>
	    			<li><a href="/cart">Add to Cart</a></li>
	    		</ul>
	    	</nav>
	    	<img src="{{url_for('static', filename='images/cart.png')}}" width="30px" height="30px">
	    	<img src="{{url_for('static', filename='images/menu.png')}}" class="menu-icon" onclick="menutoggle()">
		</div>
		<div class="row">
			<div class="col-2">
				<h1>Shopping Mall in WebVR<br>Shop Now!</h1>
				<p>Experience the real life shopping experience <br> Now in Virual Reality 
					<br>Enjoy It!
				</p>
				<a href="mall.html" class="btn">Explore Now &#8594;</a>
			</div>
			<div class="col-2">
				<img src="{{url_for('static', filename='images/images1.png')}}">
			</div>
		</div>
	</div>
	</div>
<!---feature--->
	<div class="categories">
		<div class="small-container">
			<div class="row">
				<div class="col-3">
					<img src="{{url_for('static', filename='images/categ1.png')}}">
				</div>
				<div class="col-3">
					<img src="{{url_for('static', filename='images/categ2.png')}}">
				</div>
				<div class="col-3">
					<img src="{{url_for('static', filename='images/categ3.png')}}">
				</div>
			</div>
		</div>
	</div>
	<!--feature products---->
	<div class="small-container">
		<h2 class="title">Featured Products</h2>
		<div class="row">
			<div class="col-4">
				<img src="{{url_for('static', filename='images/tshirt.png')}}">
				<h4>T-Shirt</h4>
				<div class="rating">
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star-o" aria-hidden="true"></i>
				</div>
				<p>$20.00</p>
			</div>
			<div class="col-4">
				<img src="{{url_for('static', filename='images/shoes.png')}}">
				<h4>Pink Shoes</h4>
				<div class="rating">
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
				</div>
				<p>$40.00</p>
			</div>
			<div class="col-4">
				<img src="{{url_for('static', filename='images/phone.png')}}">
				<h4>Samsung Phone</h4>
				<div class="rating">
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star-o" aria-hidden="true"></i>
					<i class="fa fa-star-o" aria-hidden="true"></i>
				</div>
				<p>$120.00</p>
			</div>
			<div class="col-4">
				<img src="{{url_for('static', filename='images/watch.png')}}">
				<h4>HuaWei Watch GT2</h4>
				<div class="rating">
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star-o" aria-hidden="true"></i>
				</div>
				<p>$95.00</p>
			</div>
		</div>
	</div>
	<script>
		var MenuItems = document.getElementById("MenuItems");
		MenuItems.style.maxHeight = "0px";
		function menutoggle(){
			if(MenuItems.style.maxHeight == "0px")
			{
				MenuItems.style.maxHeight = "200px";
			}
			else
			{
				MenuItems.style.maxHeight = "0px";
			}
		}
	</script>
</body>
</html>
